hosts/*/local.nix
hosts/*/local.nix.bak
hosts/*/hardware-configuration.nix
hosts/*/username.nix
modules/home/local.nix
modules/home/local.nix.bak
modules/system/boot/boot.local.nix
dotfiles/perso/*
!dotfiles/perso/README.md
modules/home/niri-custom.nix
modules/home/mango-custom.nix
modules/home/umbriel-custom.nix
modules/home/dev/git.nix
modules/home/dev/ssh.nix
modules/home/dev/gitwatch.nix
__pycache__/
