hosts/roudix/local.nix
hosts/roudix/hardware-configuration.nix
modules/home/local.nix
hosts/roudix/username.nix
modules/system/boot.local.nix
dotfiles/perso/*
!dotfiles/perso/README.md
modules/home/niri-custom.nix
modules/home/mango-custom.nix
modules/home/umbriel-custom.nix
